div{
    background-color:blue;
}

div div {
    background-color:green;

}
div>div>span {
    background-color:yellow;
}

span{
    background-color:gray;
}
#treci{
    background-color:red;
    color:white;
}
#treci span{
    background-color:orange;
}