*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #ebdbb2;
    font-family: 'Lucida Sans', Verdana, sans-serif;
}

.row{
    width: 100%;
}

.row::before,
.row::after{
    content: "";
    clear: both;
    display: table;
}

[class*="col-"]{
    float: left;
}

/* Za mobilne telefone */
[class*="col-"]{
    width: 100%;
}



    /* Paragraf u aside sekciji treba da bude skriven kod desktop uređaja */
    aside p{
        visibility: hidden;
    }
}

